h1{
    color:#32CD32;
}

.header{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}

.site-description{
    background-color: #fffb00;
    display:flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ffff00;
}

.footer{
    display: flex;
    justify-content: flex-end;
    background-color: #4169e1;
}

p,h2{
    text-align: center;
    Background-color: #ffff00;
}